*{
    margin:0;
    padding: 0;
    }
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('../assets/image/images.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}
.profile{
    margin-top: 20px;
    margin-left: 210px; 
    border-radius: 5px;
    padding-right: 15px;
}

.profile mat-icon{
    margin-bottom: -5px;
    margin-right: 5px;
}
.navbar{
    width: 1348px;
    height: 75px;
    margin: auto;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
}

.menu{
    padding-left: 70px;
    width:700px;
    float: left;
    height: 60px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}



.btn{
    width: 110px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200 ;
    margin-top: 13px;
    color: #fff;
    font-size: 15px; 
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn1-margin{
    margin-top: 18px;
    margin-left: 110px;
}
.btn2-margin{
    margin-left: 10px;
    padding-right: 5px;
}

.btn:focus{
    outline: none;
}


button {
    background-color: #6bbff7c4;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 