/* Style général */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Style de la liste des utilisateurs */
.user-list {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
 

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td button {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal; 
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary {
  margin-left: -115px;
  background-color: #e9b72c;
  border-color: #e9b72c;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list th {
  background-color: #e2dede;
  text-align: left;
  padding: 10px; 

  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.user-list td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.user-list td:last-child {
  text-align: right;
}

.user-list td img {
  max-width: 100%;
  height: auto;
}

/* Style du formulaire */
.user-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.user-form form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.user-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.user-form input[type="text"], .user-form input[type="email"], .user-form input[type="password"], .user-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 97%;
}

.user-form button {
  padding: 10px 20px;
  background-color: #1abc9c;
  margin-left: 0px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  margin-bottom: 30px;
}
.user-form button:hover {
  background-color: #148f77;
}

/* Style des messages d'alerte */
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
