.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .event-detail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .event-detail-label {
    font-weight: bold;
    margin-right: 10px;
    width: 120px;
  }
  
  .event-detail-value {
    width: calc(100% - 110px);
  }
  .cancel-btn {
    border: #f44336;
    background-color: #f44336;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #c62828;
    border: #c62828;
  }
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .add-to-calendar-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
  }
  .ajout{
    margin-top: -10px;
    margin-left: 5px;
  }
  .add-to-calendar-btn:hover{
    color: gray;
  }