<div class="cardrow1">
<article id ="carte-1" class="carte">
	<header class='carte__miniature'>
		<img src="http://lorempicsum.com/simpsons/370/235/1"/>
	</header>
	<div class="carte__date">
		<span class="carte__date__jour">15</span>
		<span class="carte__date__mois">fev</span>
	</div>
	<div class="carte__body">
		<div class="carte__categorie">Photos</div>
		<h2 class="carte__titre">Homer et yjuy réparent le toit</h2>
		<div class="carte___soustitre">Ca va mal finir cette histoire</div>
		<p class="carte__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</div>
	<footer class='carte__footer'>
		<i class="icon--time fa fa-hourglass-start"></i> 6 min
		<i class="icon--comment fa fa-commenting"></i> 15 commentaires
	</footer>
</article>
</div>

